.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

blockquote {
  white-space: pre-wrap;
}

@keyframes appear {
  from {
    transform: translateY(-20px) scaleX(0.5) scaleY(0.5);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    perspective: 1000px;
    transform: rotateX(70deg) translateY(-100px);
  }
  50% {
    perspective: 1000px;
    transform: rotateX(70deg) translateY(0);
  }
  to {
    perspective: 1000px;
    transform: none;
  }
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  /* align-items: start; */
}

.card-footer {
  position: relative;
}

body {
  background: #34394f url("death-star.webp") fixed center center;
}

#root > .container {
  padding: 5px 0;
}

.display-1 {
  color: white;
}

.form-control:focus {
  border-color: #34394f;
  box-shadow: 0 0 0 0.2rem #eeae72;
}

.btn.btn-primary {
  background-color: #34394f;
  border-color: #192335;
  margin-top: 5px;
}

.btn:disabled {
  cursor: not-allowed;
}
.btn.btn-link {
  color: #344e68;
  font-weight: 600;
}

.card-body > em,
.view-comment > em {
  color: #c04217;
  font-size: 0.9em;
}

.add-comment {
  margin: 30px;
  border-radius: 10px;
}

textarea {
  resize: none;
}

.card-body > img {
  width: 80px;
  margin-bottom: 10px;
}
img {
  border-radius: 10px;
}

.add-form {
  border: 1px solid #34394f;
  border-radius: 10px;
}

.btn.add-update-button {
  margin-top: 10px;
}
h1 {
  text-align: center;
  font-family: star-wars-font;
  color: #ffe919;
  margin-bottom: 70px;
}

@font-face {
  font-family: "star-wars-font";
  src: url("Starjedi.ttf") format("truetype");
}
