.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

blockquote {
  white-space: pre-wrap;
}

@keyframes appear {
  from {
    transform: translateY(-20px) scaleX(0.5) scaleY(0.5);
    opacity: 0;
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDown {
  from {
    perspective: 1000px;
    transform: rotateX(70deg) translateY(-100px);
  }
  50% {
    perspective: 1000px;
    transform: rotateX(70deg) translateY(0);
  }
  to {
    perspective: 1000px;
    transform: none;
  }
}

@keyframes fadeOutAndSlideUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.view-update {
  animation: appear 1 0.5s forwards;
  perspective: 400px;
}
.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  /* align-items: start; */
}

.card-footer {
  position: relative;
}

.view-update {
  position: relative;
  padding: 10px;
  border: 5px solid #34394f;
  border-radius: 10px;
}
.view-update.comments-open {
  z-index: 1;
}

.comments-list ul {
  margin: 0;
  padding: 0;
}

.comments-list ul li {
  margin: 0;
  list-style-type: none;
  border-top: 1px solid #e4c370;
  padding: 16px 0;
}

.delete-btn {
  position: absolute;
  top: 1px;
  right: 10px;
  color: red;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none !important;
  border: none !important;
  padding: 5px !important;
}
.delete-btn:hover {
  color: darkred;
  background: rgba(255, 0, 0, 0.1); /* Light hover effect */
}
.delete-btn:focus {
  outline: none !important;
  box-shadow: none !important;
}

body {
  background: #34394f url("naboobackground.png") fixed center center;
}

#root > .container {
  padding: 50px 0;
  background: white url("intro-background.jpeg");
}

.display-1 {
  color: white;
}

.form-control:focus {
  border-color: #34394f;
  box-shadow: 0 0 0 0.2rem #eeae72;
}

.btn.btn-primary {
  background-color: #34394f;
  border-color: #192335;
  margin-top: 5px;
}

.btn:disabled {
  cursor: not-allowed;
}
.btn.btn-link {
  color: #344e68;
  font-weight: 600;
}

.card-body > em,
.view-comment > em {
  color: #c04217;
  font-size: 0.9em;
}

.comments-list {
  border: 3px solid #34394f;
  border-top: none;
  border-radius: 0 0 10px 10px; /* Only bottom corners rounded */
  margin-top: -2px;
}
.comment-lg > .comment-li {
  margin: 20px;
  border: 1px solid #34394f;
  border-radius: 10px;
}

.add-comment {
  margin: 30px;
  border-radius: 10px;
}

textarea {
  resize: none;
}

.card-body > img {
  width: 80px;
  margin-bottom: 10px;
}
img {
  border-radius: 10px;
}
.comment-details > img {
  width: 40px;
  height: 40px;
  margin-bottom: 5px;
}
.add-form {
  border: 1px solid #34394f;
  border-radius: 10px;
}
.view-comment {
  display: flex;
  padding: 10px;
  animation: slideDown 1 0.3s forwards;
}
.comment-header {
  display: flex;
  margin-right: auto;
  flex-direction: column;
}
.comment-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  border-left: 1px solid #34394f;
  align-self: center;
}
.comment-details-text {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 10px;
}
.comment-details-text > p {
  margin: 0;
}
.fade-out {
  animation: fadeOutAndSlideUp 0.2s ease-out forwards;
}

.reaction-group {
  display: flex;
  flex-direction: row;
}

.update-details {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.update-details-text {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-left: 10px;
}
.update-details-text > p {
  margin: 0;
}
.update-details > img {
  width: 80px;
  height: 80px;
  margin-bottom: 5px;
}

.btn.add-update-button {
  margin-top: 10px;
}
h1 {
  text-align: center;
  font-family: star-wars-font;
  color: #ffe919;
  margin-bottom: 70px;
}

.reaction-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 5px;
}

.icon-button {
  background: none !important;
  border: none !important;
  padding: 5px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  transition: color 0.2s ease-in-out;
}
.icon-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Default icon color */
.icon-button svg {
  width: 24px;
  height: 24px;
  color: #333;
}

.icon-button.like:hover svg,
.icon-button:hover svg {
  color: #007bff;
}

.icon-button.love:hover svg {
  color: red;
}

.icon-button.funny:hover svg {
  color: #e2ea00ee;
}

.reaction-count {
  font-size: 12px;
  color: #555;
  font-weight: bold;
  position: absolute;
  right: -5px;
  bottom: -8px;
}

.more-reactions {
  display: flex;
  flex-direction: row;
}
.more-reactions svg {
  width: 20px;
  height: 20px;
}
.more-reactions .list-group-item {
  border: none;
  background: transparent;
  padding: 2px;
}

.more-reactions .list-group-item:hover {
  cursor: pointer;
  color: #007bff;
}

@font-face {
  font-family: "star-wars-font";
  src: url("Starjedi.ttf") format("truetype");
}
